<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!--Sidebar content-->
      <div class="row col-xs-6">
        Search: <input ng-model="query">
      </div>
      
      <div class="row col-xs-6" style="text-align:right">
          Sort by:
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
      </div>
    </div>
    <div class="col-xs-12" style="margin-top:10px;">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
